@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Englebert&family=Gantari:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Noto+Sans:ital,wdth,wght@0,78.6,160;1,78.6,160&family=Pirata+One&family=Playball&family=Stack+Sans+Text:wght@200..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.imagePoster{
width: 100%;
height: 326vh;
position: relative;   
}

.top{
    margin-top: 2.4em;
    font-family: "Texturina", serif;
    font-size: 61px;
    font-weight: 800;
    text-align: center;
    background-color: #F5E0CC;
    position: absolute;    
    color: #493325; 
    
  top: 0%;                 
  left: 22%;                    
}

.text{
 font-family: "Stack Sans Text", sans-serif;
 font-weight: 100;
 position: absolute;
 top: 36%;    
 left: 68%; 
 letter-spacing: 0;
 color: #493325;           
 background-color: #F5E0CC;
 transform: translateX(-26%);
 font-size: 31px;
 padding: 1em;
 text-align: center;
}

.disney{    
   font-family: "Englebert", cursive;
 font-weight: 400;
 position: absolute;
 color: #000;           
 background-color: #F9E6D1;
 font-size: 100px;
 top: 152%;    
 right: 45%; 
 text-align: center;
}

.sub{
font-family: "Noto Sans", sans-serif;
font-weight: 500;
 position: absolute;
 color: #493325;           
 background-color: #F9E6D1;
 font-size: 25px;
 top: 180%;    
 left: 26%; 
 padding-right: 1em;
 padding-left: 1em;
 text-align: center;
}

.the{
  color: #5E2E62;
  position: absolute;
  background-color: #FFECD7;
  font-size: 70px;
 top: 182%;    
 padding-inline: 0.3em;
 padding-top: 1em;
 padding-bottom: 1em;
 font-family: "Pirata One", system-ui;
 left: 15%; 
 text-align: center;
}

.the2{
  color: #5E2E62;
  position: absolute;
 background-color: #FFECD7;
 padding-right: 10em;
 padding-top: 1.1em;
  font-size: 52px;
 top: 211%;    
letter-spacing: 2px;
 font-family: "Pirata One", system-ui;
 left: 24%; 
 text-align: center;
}


.sword{
    color: #FCB400;
    -webkit-text-stroke-width: 1px; /* Sets the stroke width */
  -webkit-text-stroke-color:#6F3D60; /* Sets the stroke color */
  position: absolute;
  background-color: #FFECD7;
  font-size: 200px;
 top: 160%;    
 padding-inline: 0.1em;
 font-family: "Pirata One", system-ui;
 left: 22%; 
 padding-bottom: 0.5em;
 text-align: center;
  letter-spacing: 2px;
}

.in{
 color: #5E2E62;
 position: absolute;
 font-size: 60px;
 top: 210%;    
 padding-inline: 0.3em;
 font-family: "Pirata One", system-ui;
 left: 23%; 
 text-align: center;
}

.stone{
    color: #FCB400;
    -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color:#6F3D60; 
  position: absolute;

  font-size: 190px;
 top: 185%;    
padding-right: 0.4em;
 font-family: "Pirata One", system-ui;
 left: 30%; 
 letter-spacing: 2px;
 text-align: center;
}

.tech{
    margin-top: 2.4em;
    font-family: "Vend Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background-color: #FEEBD6;
    position: absolute;    
    color: #493325; 
   top: 216%;   
  padding-top: 2em;
  letter-spacing: 2px;              
  left: 28%;   
}

.r{
  font-family: "Noto Sans", sans-serif;
font-weight: 500;
 position: absolute;
 color: #493325;           
background-color: #FEEBD6;
 font-size: 20px;
 top: 240%;    
 left: 46%; 
 padding-inline: 0.5em;
 text-align: center;
}

.story{
font-family: "Barlow Condensed", sans-serif;
font-weight: 200;
 position: absolute;
 color: #493325;           
 background-color: #FFF6E8;
 font-size: 27px;
 top: 304%;    
 left: 26%; 
 text-align: center;
}
.dot{
font-family: "Barlow Condensed", sans-serif;
font-weight: 200;
 position: absolute;
 color: #493325;           
 background-color: #FFF6E8;
 font-size: 38px;
 top: 300%;    
 left: 32%; 
 padding-inline: 2em;
 text-align: center;
}
.dot2{
font-family: "Barlow Condensed", sans-serif;
font-weight: 200;
 position: absolute;
 color: #543C27;          
 font-size: 38px;
 background-color: #FFF6E8;
 top: 300%;
 padding-left: 1em;    
 left: 54.5%; 
 
}
.book{
font-family: "Barlow Condensed", sans-serif;
font-weight: 200;
 position: absolute;
 color: #543C27;          
 background-color: #FFF6E8;
 font-size: 27px;
 top: 304%;    
 left: 38%; 
 text-align: center;
}

.inc{
  font-family: "Barlow Condensed", sans-serif;
font-weight: 400;
 position: absolute;
 color: #8d6d56;          
 background-color: #FFF6E8;
 font-size: 18px;
 top: 304.2%;    
 left: 58.2%;
 padding-right: 0.7em;
 padding-left: 0.5em; 
 text-align: center;
}

.productions{
  font-family: "Barlow Condensed", sans-serif;
font-weight: 400;
 position: absolute;
 color: #8d6d56;          
 background-color: #FFF6E8;
 font-size: 18px;
 top: 307.2%;    
 left: 60.4%;
 padding-right: 1em;
 padding-left: 0.5em; 
 text-align: center;
}

.logo{
   font-weight: 400;
 position: absolute;
 color: #503E2F;          
 background-color: #FFF2E3;
 font-size: 16px;
 top: 305.2%;    
 left: 84%;
 padding-right: 1em;
 padding-left: 0.5em; 
 text-align: center;
 text-decoration: none;
 font-family: "New Amsterdam", sans-serif;
}
.ages{
  font-family: "Barlow Condensed", sans-serif;
 position: absolute;
 color: #8d6d56;          
 background-color: #FFF6E8;
 font-size: 11px;
 top: 308.4%;    
 left: 83.8%;
 font-weight: 400;
 padding-left: 0.5em; 
 text-align: center;
 font-family: "Gantari", sans-serif;
}

.footer{
  font-family: "Barlow Condensed", sans-serif;
 position: absolute;
 color: #8d6d56;          
 background-color: #FFF7E3;
 font-size: 13px;
 top: 315.4%;    
 left: 78.2%;
 letter-spacing: 1px;
 font-weight: 400;
 padding-right: 0.5em; 
 padding-left: 0.5em; 
 text-align: center;
 font-family: "Gantari", sans-serif;
}

.page{
  font-family: "Barlow Condensed", sans-serif;
 position: absolute;
 color: #8d6d56;          
 background-color: #F7E0C4;
 font-size: 12px;
 top: 315.5%;    
 left: 93%;
 font-style: italic;
 letter-spacing: 1px;
 font-weight: 500;
 padding-right: 0.5em; 
 padding-left: 0.5em; 
 text-align: center;
 font-family: "Gantari", sans-serif;
}