@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
   width: 100%;
   margin: 0;
   height: 100%;
   padding: 0;
   background-color:#F2F2F2 ;
   font-family: "Spectral", serif;
  position: relative;
}

/* Site top */
.top{
background-color: #F2F2F2;
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
padding-top: 0;
position: relative;
 overflow: hidden; /* Hide */
}

.flower{
    width: 18em; 
    position: absolute; 
    top: 60%;
    left: 85%;
    transform: rotate(-35deg);  
    z-index: 1;
    
}

.flower2{
    width: 15em;
    position: absolute; 
    top: 39%;
    left: 89%;
    transform: rotate(0deg);
    
}
.flower3{
    width: 15em;
    position: absolute; 
    top: 60%;
    left: 80%;
    transform: rotate(-30deg);
    
}
.flower4{
    width: 15em;
    position: absolute; 
    top: 78%;
    left: 70%;
    
}
.flower5{
    width: 22em;
    position: absolute; 
    top: 78%;
    left: 80%;
    z-index: 2;
}

h1{
font-family: "Rouge Script", cursive;
font-size: 9em;
position: absolute; 
top: 25%;
left: 38%;
justify-content: center;
font-weight: 500;
}

.polaroid{
    width: 35em;
    position: absolute; 
    top:40%;
    right: 68%;    
}



.top h2{

letter-spacing: 0px;
font-size: 1.5em;
position: absolute; 
top: 55%;
left: 55%;
justify-content: center;
font-weight: 500;
letter-spacing: -1px;
}


/* Menu */

.menu ul{
    display: flex;
    align-items: center;    /* vertical centralize */
    width: 100%;
   
}
.menu ul li {
    list-style: none;
        display: inline-block;
    margin-left: 2%;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    letter-spacing: -1px; 
    
}

.menu {
    width: 100%;
    position: fixed;
    display: flex;    
      overflow: auto;
    background-color: #F2F2F2;  
    z-index: 3;
    height: 10vh;
    padding: 0;
      

}
.logo{
    width: 18%;
}

.logo img{
    margin-left: 15%;
    width: 20%;

}

.options{
    text-align: right;
width: 75%;    
}



li:hover{
    border-bottom: solid #900507 1px;
}


/* Main  */
.gallery{
    width: 100%;
    display: flex;
    justify-content: center;
}


.gallery figure img{
 width: 80%;
 background-color: #EBC283;
padding:10%;
}

.polaroidImage{
    background-color: #fff;
    padding-top: 0.5em;
    width: 25%;
    padding-bottom: 2em;
   margin: 2%;
   margin-top: 0%;
}


.subtitle{
    font-family: "Rouge Script", cursive;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
}