@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
   width: 100%;
   margin: 0;
   height: 100%;
   padding: 0;
   background-color:#F2F2F2 ;
   font-family: "Spectral", serif;
  position: absolute;
}

/* Site top */
.top{
background-color: #F2F2F2;
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
padding-top: 0;
position: relative;
 overflow: hidden; /* Hide */
}

.flower{
    width: 18em; 
    position: absolute; 
    top: 60%;
    left: 85%;
    transform: rotate(-35deg);  
    z-index: 1;
    
}

.flower2{
    width: 15em;
    position: absolute; 
    top: 39%;
    left: 89%;
    
}
.flower3{
    width: 15em;
    position: absolute; 
    top: 60%;
    left: 80%;
    transform: rotate(-30deg);
    
}
.flower4{
    width: 15em;
    position: absolute; 
    top: 78%;
    left: 70%;
    
}
.flower5{
    width: 22em;
    position: absolute; 
    top: 78%;
    left: 80%;
    z-index: 2;
}

h1{
font-family: "Rouge Script", cursive;
font-size: 9em;
position: absolute; 
top: 25%;
left: 38%;
justify-content: center;
font-weight: 500;
}

.polaroid{
    width: 35em;
    position: absolute; 
    top:40%;
    right: 68%;    
}



.top h2{

letter-spacing: 0px;
font-size: 1.5em;
position: absolute; 
top: 55%;
left: 55%;
justify-content: center;
font-weight: 500;
letter-spacing: -1px;
}


/* Menu */

.menu ul{
    display: flex;
    align-items: center;    /* vertical centralize */
    width: 100%;
   
}
.menu ul li {
    list-style: none;
        display: inline-block;
    margin-left: 2%;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    letter-spacing: -1px; 
    
}

.menu {
    width: 100%;
    position: fixed;
    display: flex;    
      overflow: auto;
    background-color: #F2F2F2;  
    z-index: 3;
    height: 10vh;
    padding: 0;
      

}
.logo{
    width: 18%;
    
}

.logo img{
    margin-left: 15%;
    width: 20%;

}

.options{
    text-align: right;
width: 75%;    
}



li:hover{
    border-bottom: solid #900507 1px;
}


/* Main Gallery */
.gallery{
    width: 100%;
    display: flex;
    justify-content: center;
}


.gallery figure img{
 width: 80%;
 background-color: #F2F2F2;
padding:10%;
}

.polaroidImage{
    background-color: #740220;
    color: #fff;
    padding-top: 0.3em;
    width: 24%;
   margin: 2%;
   margin-top: 0%;
}


.subtitle{
    font-family: "Rouge Script", cursive;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
}

.gallery figcaption{
    text-align: center;
    padding-top: 0.5em;
}

.rotate{
    transform: rotate(2deg);
}

.rotateLeft{
     transform: rotate(-2deg);
}


.flower6{
    width: 8em;
    position: absolute; 
    top: 62em;
    left: 87%; 
    z-index: -1; 
    transform: rotate(20deg);
}

.flower7{
    width: 7em;
    position: absolute; 
    top: 68em;
    left: 86%; 
    transform: rotate(40deg);
}

.flower8{
    width: 5em;
    position: absolute; 
    top: 48em;
    z-index: -1;
    left: 31%;
    transform: rotate(15deg);
}

/* Why buy a polaroid? */
.why figure{
    width: 100%;
}

.why figure img{
    width: 100%;
    border-radius: 10px;
    display: flex;
}


.flower9{
    width: 9em;
    position: absolute; 
    top: 101em;
    z-index: 0;
    left: 10%;
    transform: rotate(40deg);
}

.side{
    display: flex;
    width: 40%;
    justify-content: center;
}

.sideRight p{
    width: 100%;
    display: flex;
}

.sideRight{
 margin-top: auto;   
 width: 40%;  
 margin-bottom: auto;
}

.sideRight a img{
  width: 2rem;  
  transform: rotate(180deg);
  display: flex;

  background-color: #0A515B;
  padding-right: 1rem;
  padding-left: 1rem;

  border-radius: 20px;
}


.why{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flower10{
     width: 7em;
    position: absolute; 
    top: 85rem;
    left: 42%;
}

/* Details */



.line{
     width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}



.flowerDivs{
display: flex;
width: 100%;
margin-left: auto;
text-align: left;
margin-top: 1rem;
}
.flowerDivs img{
    width: 15%;
    padding-right: 1rem;
    height: auto;
}

.sideCamera{
    display: flex;
    width: 30%;
    justify-content: center;
}

.sideCamera img{
    width: 100%;
}


footer{
    background-color: #025158;
    padding-top: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
}

/* About us Page */

.topOther{
background-color: #F2F2F2;
height: 50vh;
width: 100%;
margin: 0;
padding: 0;
padding-top: 0;
overflow: hidden;
position: relative;
 z-index: 2;
}

.topOther .flower{
    width: 18em; 
    position: absolute; 
    top: 60%;
    left: 75%;
    transform: rotate(-32deg);  
    z-index: 1;
    
}

 
.topOther  .flower3{
    width: 15em;
    position: absolute; 
    top: 30%;
    left: 68%;
    
    z-index: -1;
    
}


.topOther .flower5{
    width: 22em;
    position: absolute; 
    top: 10%;
    left: 80%;
    z-index: -1;
} 

.titleAbout{
font-family: "Rouge Script", cursive;
font-size: 8em;
font-weight: 500;
top: 40%;   
position: absolute;
left:10%;
}



.company{
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


i{
    font-weight: bold;
}

/* About me */
.aboutCreator{
    width: 90%;
    display: flex;
   position: relative;
    justify-content: center;
    padding-bottom: 5rem;
}

.imgCreator{
    width: 40%;
    display: flex;
    justify-content: right;
    padding-right: 5rem;
}

.imgCreator img{
    width: 50%;

}

.textCreator{
    width: 35%;
}

.textCreator a{
    text-decoration: none;
    color: #740220;
}


.flower11{
    width: 5em;
    position: absolute; 
    top: 34rem;
    z-index: -1;
    left: 25%;
    transform: rotate(-30deg);  
}

.imgCompany img{
    width: 90%;
}

.imgCompany{
    width: 40%;
    display: flex;
    justify-content: right;
    padding-right: 5rem;
}


/* Feedback */
.opnions{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem; 
    
}

.btnBack button{
border: none;
width: 20%;
justify-content: center;
background-color: transparent;


}

.btnBack{
    width: 12%;
   display: flex;
justify-content: center;
background-color: transparent;

}

.btnBack img{
    width: 100%;
    
}
.btnRotate{
    transform: rotate(180deg);
}
.starsLine {
    display: flex;
    gap: 0.2rem; /* space between stars */
    justify-content: center;
    
}

.starsLine img {
    width: 1.5rem; 
    height: auto;
}

.textAvaliation{
    width: 40%;
    background-color: #efefef;
    text-align: center;
    border: solid 1px #025158;
    display: block;
    padding: 1.2%;
    border-radius: 20px;
}


/* Form  */

.form{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form fieldset{
    border-radius: 10px;
    width: 50%;
    border: 1px solid #025158;
}

.labelPolaroid{
    font-size: 15px;
    padding-bottom: 2rem;

}

.inputs{
    width: 70%;
    margin-left: 1rem;
    border-radius: 10px;
    margin-top: 1rem ;
    padding: 0.4rem;
    border: solid 1px;
}

.optionTitle{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.comment{
    display: flex;
}

.commentTitle{
    width: 20%;
    text-align: right;
    padding-left: 2rem;
    padding-right: 1rem;
}

.typePolaroid{
    display: flex;
    padding-top: 1rem;
}

.labelType{

    padding-left: 5%;
    padding-top: 1rem;
    width: 20%;
    padding-bottom: 2rem;
}

.optionPolaroid{
    display: flex;
    width: 70%;
    justify-content: left;

}

.divType{
    display: flex;
    align-items: center;

    width: 28%;
    padding-left: 1%;
    height: 4rem;

}
.divType label{
    justify-content: left;
    display: flex;
    width: 90%;
}

.divType2{
    display: flex;
    align-items: center;
    width: 14%;
    height: 4rem;
}

.textArea{
    border-radius: 10px;
    width: 62%;
    resize: none;
}